<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../include/header.ejs") %>
    </head>

    <body>
        <%- include("./../include/navbar.ejs") %>

        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div
                        class="col-xl-12 mx-auto p-1"
                        style="border:solid 3px rgba(255, 255, 255, 0.85); border-radius: 25px;"
                    >
                        <div class="cta-inner text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper"
                                    >Come On In</span
                                >
                                <span class="section-heading-lower"
                                    >Coming ITI events</span
                                >
                            </h2>
                            <% if(eventsData.length > 0) { %>
                            <table class="table table-striped dtDataTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Event Title</th>
                                        <th scope="col">Canceled Speaker</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i = 0; i< eventsData.length;
                                    i++){ %>
                                    <tr>
                                        <th scope="row">
                                            #
                                        </th>
                                        <td>
                                            <%= eventsData[i].event_id.title %>
                                        </td>
                                        <td>
                                            <%= eventsData[i].user_id.fullName
                                            %>
                                        </td>

                                        <td>
                                            <%= eventsData[i].type %>
                                        </td>

                                        <td>
                                            <a
                                                class="btn btn-light"
                                                data-toggle="modal"
                                                data-target="#declineUpdateModal"
                                                data-title="<%= JSON.stringify(eventsData[i]) %>"
                                                >update
                                            </a>
                                            <button
                                                class="btn btn-danger"
                                                onclick="eventRemove(<%= eventsData[i]._id %>, <%= eventsData[i].event_id._id %>,this);"
                                            >
                                                delete
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <% } else { %>
                            <h4>No Canceled Events ^_^</h4>
                            <%} %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include("./../include/footer.ejs") %> <%-
        include("declineUpdateModal.ejs") %>
        <script>
            function eventRemove(id, eventID, btn) {
                $.ajax({
                    url: "http://localhost:8085/events/declineRemove",
                    method: "post",
                    contentType: "Application/json",
                    data: JSON.stringify({ _id: id, event_id: eventID }),
                    dataType: "text",
                    success(data) {
                        $(btn)
                            .parents("tr")
                            .remove();
                    },
                    error(error) {
                        console.log(error);
                    }
                });
            }
        </script>
    </body>
</html>
